* {
    margin: 0px;
    font-family: "Roboto Condensed", "Oswald", "Montserrat Medium", sans-serif;
    margin: 0;
    padding: 0;
}


.tit {
    background-color: white;
    align-items: center;
    padding: 8px;
    flex-wrap: wrap;
    
}


.tit h2 {
    text-align: center;
    color: #ea5823;
    font-size: 50px;
    font-weight: 1000px;
}

.tit h3 {
    text-align: center;
    letter-spacing: 2px;
    color: #999997;
    
}

.icono-grande{
    width: 40px;
    height: auto;
    vertical-align: middle;
}

.nav .nav-link:hover{
    color: #ea5823 !important;
    transition: 0.3s ease;
}

.nav-link:hover{
    color: #ea5823 !important;
    transition: 0.3s ease;
}

.user-link:hover{
    color: #ea5823 !important;
    transition: 0.3s ease;
}


.user-link{
    letter-spacing: 2px;
}

@media (min-width: 992px) {

    .navbar-nav{
        transform: translateX(6.2%);
    };

 }

 @media (max-width: 992px)
 {
    .user-link2{
        padding: 25px;
    }

    .user-link1{
        width: 80px;
    }
 }


.main--fyv {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
    justify-content: center;
    background-image: url("Imagenes/zapas.png");
    padding-bottom: 4%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;


}

.video--promo video {
    margin-left: 2%;
    margin-top: 9%;
    margin-bottom: 9%;
    width: 100%;
    border-radius: 15px;
    

}

.bloque--izq {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: start;

}

.bloque--derecha {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-right: 0.5%;
}

.bloque--derecha a {
    position: absolute;
    left: 20%;
    top: 85%;
    text-decoration: none;
    text-transform: uppercase;
    color: #999997;
    border: 3px solid #999997;
    padding: 10px 40px;
    border-radius: 10px;
    font-family: "Montserrat Medium", sans-serif;
    text-shadow: 2px 0.5px 1px #1f1f1f;


}

.bloque--derecha a:hover {
    color: #ea5823;
    text-shadow: 2px 0.5px 1px #ea5823;
    background-color: #1f1f1f;
    border: 3px solid #1f1f1f;
}

.bloque--izq img {
    margin-top: 2%;
    border-radius: 15px;
    width: 100%;


}

.texto--main {

    position:absolute;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;
    transform: translateY(37%);
    text-transform: uppercase;
    text-align: start;
    width: 80%;
    box-sizing: border-box;

    
}



.texto--main p {
    margin-bottom: 30px;
    font-size: 4.5vw;
    letter-spacing: 2px;
    font-family: "Montserrat", sans-serif;
    color: white;
    font-weight: 500;
    text-shadow: 2px 2px 8px black;
}

.texto2--main {
  
    align-self: flex-end;
     width: auto;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    
}

.tienda-inicio-button{
    border: 2px solid #999997;
    text-decoration: none;
    padding: 0.4vw 4vw;
    margin-bottom: 3vw;
    color: #999997;
    font-size: 1.3rem;
    border-radius: 10px;
}

.tienda-inicio-button:hover {
    background-color: #ea5823;
    color: white;
    border: 2px solid #ea5823
}


.vid {

    max-width: 90%;
    margin-top: 4%;
    margin-bottom: 5%;
}

.vid video {

    width: 100%;
    height: auto;
    display: block;
    border-radius: 15px;

}


.pag--fondo2 {

    padding-bottom: 10px;
    background-image: url("Imagenes/fondo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.pag--nosotros {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    gap: 4rem;
    padding-top: 7rem;


}

.titulo-y-parrafo {

    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 450px;
    width: fit-content;
    padding: 0 2vw;
    height: auto;
    flex-direction: column;

}

.titulo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    border-radius: 14px;
    font-size: 2rem;
    transform: scaleY(1.2);
    text-transform: uppercase;
    letter-spacing: 4px;
    font-family: "Oswald", sans-serif;
    text-shadow: 5px 4px 2px rgba(234, 88, 35, 0.6);
    margin-right: 5vw;
    padding-bottom: 2rem;
    width: fit-content;


}



.titulotexto {
    display: flex;
    flex-direction: row;
    gap: 15px;


}


.parrafo {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 30px;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 4rem;
    color: #999997;

}

.flecha {
    font-size: 1.9rem;
    margin: 0;

}

.bloque-video {
    box-shadow: 14px 13px 5px 0px rgba(153, 153, 151, 0.75);
    -webkit-box-shadow: 14px 13px 5px 0px rgba(153, 153, 151, 0.75);
    -moz-box-shadow: 14px 13px 5px 0px rgba(153, 153, 151, 0.75);
    border-radius: 15px;
    width: 100%;
    max-width: 400px;
    overflow: hidden;
}


.bloque-video video {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 19px 10px 54px 0px rgba(234, 88, 35, 0.75);
    -webkit-box-shadow: 19px 10px 54px 0px rgba(234, 88, 35, 0.75);
    -moz-box-shadow: 19px 10px 54px 0px rgba(234, 88, 35, 0.75);
}


#productos h2 {

    margin-top: 120px;
    margin-bottom: 6rem;
    color: hsl(60, 1%, 60%);
    text-shadow: 2px 1px 2px #999997;
    text-align: center;
    text-transform: uppercase;
    color: #999997;
    transform: scaleY(1.4);
    letter-spacing: 5px;
    font-family: "Oswald", sans-serif;
    font-size: 30px;

}

.contenedorZapas {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    justify-content: center;
}

.producto {

    width: 20rem;
    margin-bottom: 100px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.descripcion{
    width: 12rem;
    text-align: center;
    text-shadow: 4px 4px 2px rgba(153, 153, 151, 0.6);
}

.producto-texto {
    font-family: "Oswald", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.producto-texto h3 {
    color: #ea5823;
    font-size: 20px;
    text-shadow: 4px 4px 2px rgba(153, 153, 151, 0.6);
}

.producto-precio {
    color: #999997;
    letter-spacing: 1px;
    font-size: 19px;
}

.producto-texto button {

    font-size: 15px;
    padding: 0.4rem;
    border-radius: 20px;
    transition: 0.3 ease;
    border-color: #999997;
    border: transparent;
    background: transparent;
    text-shadow: 4px 4px 2px rgba(153, 153, 151, 0.6);
    cursor: pointer;
}

.producto-texto button:hover {
    background-color: #ea5823;


}

.producto img {
    max-width: 16rem;
}

.producto-texto h3 {
    font-family: "Oswald", sans-serif;
    letter-spacing: 1px;

}


#opiniones {
    padding-bottom: 20px;

}


#opiniones h2 {
    margin-top: 3rem;
    margin-bottom: 5rem;
    text-align: center;
    text-transform: uppercase;
    color: #999997;
    transform: scaleY(1.4);
    letter-spacing: 5px;
    font-family: "Oswald", sans-serif;
    font-size: 35px;
    text-shadow: 2px 1px 2px #999997;
}

.reseñas {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 40px;
    gap: 25px;
    
}

.detalle-reseña {

    width: 280px;
    padding: 25px;
    margin-bottom: 20px;
    border: 2px solid  blue;
    height: auto;
    gap: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3.3px solid #d6724e;
    border-radius: 25px;
    box-shadow: 11px 13px 5px 0px rgba(153, 153, 151, 0.75);
    -webkit-box-shadow: 11px 13px 5px 0px rgba(153, 153, 151, 0.75);
    -moz-box-shadow: 11px 13px 5px 0px rgba(153, 153, 151, 0.75);

}



.datos-persona-reseña {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    text-align: center;
    font-family: "Oswald", sans-serif;
}

.datos-persona-reseña h4 {
    text-transform: uppercase;
    color: #999997;
    font-weight: 100;
    letter-spacing: 0.5px;
}

.parrafo-reseña {
    display: flex;
    flex-direction: column;
    gap: 45px;
    letter-spacing: 1px;
    text-align: center;
    font-style: italic;
    padding: 15px;
    font-family: "Oswald", sans-serif;
}


.pag--contacto1 {

    display: flex;
    align-items: center;
    justify-content: space-around;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    gap: 12%;
    padding-right: 11%;
    padding-left: 10%;
    box-sizing: border-box;


}

.fondo-contacto {
    background-image: url("Imagenes/fondo2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.bloque--izquierda {

    display: flex;
    margin-right: 20px;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 100px;
    padding: 30px 0;
    margin-top: 9%;
    max-width: 490px;
    margin-right: 5%;
    margin-bottom: 8%;
}

.contacto-tit {

    display: flex;
    justify-content: center;
    align-items: start;
    text-shadow: 5px 2px 2px rgba(153,153,151,0.82);
}


.titulo-contacto{
    display: flex;
    flex-direction: column;
}

.titulo-contacto h2{
    font-size: 2.8rem;
    letter-spacing: 1px;
    font-family: "Roboto Condensed",sans-serif;
    color: #ea5823;
    margin: 0;
    transform: scaleY(1.1);
}

.flecha {
    font-size: 35px;
    color: #161312;
    text-shadow: 3px 1px 6px #999997;
    display: flex;
    transform: translateY(-4px);
    color: #ea5823;
    align-items: center;
    justify-content: center;

}


.contacto-img {

    border-radius: 15px;
    margin-top: 0.5rem;
    box-shadow: 0 0 25px #ea5823;
}

.contacto-img img {
    border-radius: 15px;
    margin-left: 2.2rem;
    margin-top: 2rem;
    box-shadow: -5px -5px 20px #ea5823;
    display: block;
}

.bloque-derecha {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;

}



.contacto-parrafo {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.contacto-parrafo h2 {
    margin-bottom: 20px;
    color: #ea5823;
    transform: scaleY(1.2);
    font-size: 29px;
}

.contacto-parrafo p {
    letter-spacing: 1px;
}

.contacto--mapa {
    box-shadow: 0 0 20px #999997;
}


.contacto-form {


    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    max-width: 550px;
    padding-bottom: 5rem;
    padding-top: 2rem;
    width: 97%;
    margin: 0 auto;
    box-sizing: border-box;
}

.Formulario-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
   
}

.contacto-form h3 {

    text-align: center;
    padding-bottom: 5rem;
    text-transform: uppercase;
    color: #999997;
    padding: 2rem;
    font-family: "Montserrat Medium", sans-serif;
    font-style: italic;

}

.contacto-form fieldset {
    border: none;
    margin-bottom: 80px;
}

.contacto-form legend {
    text-align: center;
    padding-bottom: 60px;
    color: #1f1f1f;
    font-size: 28px;
    transform: scaleY(1.2);
    letter-spacing: 2px;
}

.form-datos {

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;

}

.form-msj {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 auto;
    width: 80%;

}


.contacto-form label {

    text-transform: uppercase;
    font-family: "Roboto Condensed", sans-serif;
    color: #ea5823;
    text-shadow: 4px 1px 6px #999997;
    text-decoration: double;

}

.contacto-form select {
    margin-top: 15px;
    color: #999997;

    font-family: "Roboto Condensed", sans-serif;
}

.contacto-form input,
.contacto-form textarea,
.contacto-form select {
    width: 100%;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #999997;
    padding-bottom: 8px;
    font-size: 16px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    transition: border-color 0.5s ease;
    outline: none;
    font-style: italic;
    transition: border-color 0.3s;

}

.form-botones {
    text-align: center;
    margin-top: 40px;

}

.form-botones button {
    padding: 8px;
    width: 160px;
    margin: 8px;
    border: none;
    background-color: #ea5823;
    color: white;
    font-family: "Roboto Condensed", sans-serif;
    letter-spacing: 2px;
    cursor: pointer;
    transition: 0.4s ease;
}

.form-botones button:hover {
    background-color: #1f1f1f;

}


.contacto-form ::placeholder {
    font-size: 14px;

}

.contacto-form input:focus,
.contacto-form select:focus,
.contacto-form textarea:focus {

    border-bottom: 2px solid #ea5823;
}

.pag-footer1 {
    background-color: #1f1f1f;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 20px;
    gap: 20px;

}

.pag-footer1 h2 {
    font-size: 23px;
    text-transform: uppercase;
    color: #ea5823;
    letter-spacing: 2px;
    margin-bottom: 13px;
}

.pag-footer1 a {
    display: flex;
    text-decoration: none;
    color: #999997;
    font-family: "Roboto Condensed", sans-serif;
    margin-bottom: 10px;
    transition: 0.3s ease;

}

.pag-footer1 a:hover {
    color: white;

}


.pag-footer1 img {
    width: 20px;
    margin-right: 8px;
}



.formfooter--novedades form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 10px;
    width: 400px;
}

.formfooter--novedades input {
    outline: none;
    background-color: #1f1f1f;
    border-bottom: 2px solid #999997;
    border-right: none;
    font-size: 17px;
    color: #999997;
    padding-bottom: 8px;
    transition: 0.3s ease;

}

.formfooter--novedades button {
    padding: 7px;
    transition: 0.5s ease;
    border-radius: 12px;
}

.formfooter--novedades button:hover {
    color: white;
    background-color: #ea5823;
    cursor: pointer;
}


.formfooter--novedades input:focus {
    border-bottom: 2px solid #ea5823;
}

.formfooter--novedades input::placeholder {
    letter-spacing: 1px;
    padding-left: 8%;
}

.pag-footer2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    background-color: #ea5823;
}

.pag-footer2 p {
    font-family: "Roboto Condensed", sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}


@media (max-width: 768px) {
  

    .texto--main{
        width: 90%;
        transform: translateY(30%);
    }

   .texto2--main{
        width: 100%;
        transform: translateY(-40%);
   }

   .bloque--derecha{
        transform: translateX(-1.6%);
   }

   .texto3--main{

        transform: translateY(-60%);
   }

   
   .titulo-y-parrafo{
       width: 110%;

   }

   .titulo{
    font-size: 3rem;
    display: flex;
    align-items: flex-start;
    gap: 0;
   }

   .titulotexto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    font-size: 2rem;
   }

   .flecha{
    font-size: 2rem;
    transform: translateY(17%);
   }

   .contacto-tit .flecha{
        transform: translateY(-7%);
        padding-right: 10px;
   }

   .titulo-contacto h2{
    font-size: 2.4rem;
    
   }

   .contacto-img{
        width: 90%;
   }

  

}

@media (max-width: 400px) {

    .detalle-reseña{
        width: 72%;
        height: auto;
    }

    

}

